medicines_app/__pycache__/
medicines_app/api_loader/__pycache__/
medicines_app/equivs_api/__pycache__/
medicines_app/flask_app/flask_application/__pycache__/
medicines_app/flask_app/flask_application/forms/__pycache__/
medicines_app/models/__pycache__/
medicines_app/scrapping/__pycache__/
medicines_app/scrapping/tests/

.idea/
.flask-app/__pycache__/
.flask-app/flask_application/__pycache__/main.cpython-38.pyc
.flask-app/flask_application/__pycache__/models.cpython-38.pyc
venv/
**/__pycache__/