{% extends 'base.html' %}
{% block title %}<title>home</title>{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Search</h1>
            <hr>

            <div class="field">
                <div class="control" style="display: inline-block;">
                    <input type="text" class="input is-normal is-focused" id="medicine_name" placeholder="Enter medicine name">
                </div>
                <div class="select is-normal is-focused">
                    <select id="concentration">
                        <option value="">--Choose concentration--</option>
                        <option value="concentration">5mg</option>
                        <option value="concentration">10mg</option>
                        <option value="concentration">15mg</option>
                        <option value="concentration">20mg</option>
                        <option value="concentration">25mg</option>
                    </select>
                </div>
                <button class="button is-link" onclick="submit_search();">Search</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>

    function submit_search() {

        var name = document.getElementById("medicine_name");
        var name = document.getElementById("concentration");

        var medicine = {
        medicine: medicine_name.value
        concentration: concentration.value
        };


        fetch('${api-endpoint}',{
            method:"POST"
            credentials: "include"
            body: JSON.stringify(medicine),
            cache: "no-cache"
            headers: new Headers({
                "content-type": "application/json"
            })
        })
    }   .then(function (response) {

           if(response.status !== 200) {

           console.log('Response status was not 200 ${response.status}');
           return ;

           }

           response.json().then(function(data) {
                console.log(data)
           })
        })

</script>


{% endblock %}