{% extends 'base.html' %}
{% block title %}<title>home</title>{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Search</h1>
            <hr>

            <div class="field">
                <div class="control" style="display: inline-block;">
                    <input style="width: 1000px;" type="text" class="input is-normal is-focused" id="medicine_name" placeholder="Enter medicine name">
                </div>
                <button class="button is-link" onclick="submitSearch()">Search</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
function submitSearch() {
    var name = document.getElementById("medicine_name");

    var medicine = {
        medicine: medicine_name.value
    };

    fetch("http://localhost:3000/equivalents",{
        mode: "no-cors",
        method: "GET",
        credentials:"include",
        cache:"no-cache",
        body: JSON.stringify(medicine),
        headers: new Headers({
            "content-type": "application/json"
        })
    })
}
</script>
{% endblock %}