{% extends 'base.html' %}
{% block title %}<title>home</title>{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}
<p class="title" style="margin-left: 35px;">
    Search
</p>

<div class="container">
    <form action="/search/" method="POST">
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.medicine_to_search.label(class_= "label is-medium") }}
            <div class="field is-horizontal">
            {{ form.medicine_to_search(class_= "input") }}
            </div>
            <div class="field">
                <div class="alert alert alert-warning alert-dismissible">
                    <p class="control">{{ form.search(class_="button is-link is-medium") }}
                        <a class="button is-link" href="/table">
                            Test Search
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>


<!--<div class="field has-addons">-->
<!--    <form method="post"></form>-->
<!--    <p class="control">-->
<!--    </p>-->
<!--    <p class="control is-expanded">-->
<!--        <label class="label is-small">Type medicine name or EAN number to find substitute <label>-->
<!--        <input class="input" type="text" placeholder="EAN/NAME">-->
<!--  <div class="control">-->
<!--    <a class="button is-info">-->
<!--      Search-->
<!--    </a>-->
<!--    </p>-->
<!--</div>-->


{% endblock %}