{% extends 'base.html' %}
{% block title %}<title>home</title>{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Search</h1>
            <hr>

            <div class="field">

                <div class="control" style="display: inline-block;">
                    <input style="width: 1000px;" type="text" class="input is-normal is-focused"
                           id="medicine_name" placeholder="Enter medicine name">
                    <datalist id="medicines"></datalist>
                </div>
                <button type="submit" class="button is-link" onclick="submitSearch();">Search</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
function submitSearch() {
    var medicine_name = document.getElementById("medicine_name");

    var medicine = {
        name : medicine_name.value
    };

        fetch('http://192.168.0.134:5001/equivalents', {
        cache: "no-cache",
        headers: new Headers({
            'Content-Type': 'application/json',
            'Medicine-Name': medicine.name
        })
    })
    .then(function(response) {

        if (response.status !== 200) {

            console.log(`Response status was not 200: ${response.status}`)
            return ;
        }

        response.json().then(function (data) {
        localStorage.setItem('data', JSON.stringify(data));
        var retrieve = localStorage.getItem('data');
        var finalData = JSON.parse(retrieve);
        window.location.href = 'http://127.0.0.1:5000/search_result'
        })
    })
}
</script>

{% endblock %}